extends layout

block content
        .page
            .pageHeading
                span.heading add activity
            .pageContent
            .fields
                .row
                    .col-xs-12
                        form(action='/add', method='post', role="form")
                            .form-group
                                label(for='activity').radioOption Activity
                                input.form-control(type='text', name='activity', id='activity', placeholder='Running')
                            .form-group
                                label(for='timeSpent').radioOption Time Spent
                                .row
                                    .col-xs-6
                                        input.form-control(type='number', min='1', name='timeSpent', id='timeSpent', placeholder='#')
                                    .col-xs-6
                                        select.form-control(type='select', name='timeUnit', id='timeUnit')
                                            option#minuteOption minutes
                                            option#hourOption hours
                            .form-group
                                label(for='category').radioOption Category
                                select.form-control(type='select', name='category', id='category')
                                    option Exercise
                                    option Family
                                    option Fun
                                    option Job
                                    option School
                            .form-group
                                .row.Ta-c
                                    .col-xs-6
                                        label
                                            input#work(type='radio', name='workplayRadios', value='work', checked='checked')
                                            span.radioOption Work
                                    .col-xs-6
                                        label
                                            input#play(type='radio', name='workplayRadios', value='play')
                                            span.radioOption Play
                            .form-group
                                input(id='submitBtn', type='submit',value='Submit').btn.btn-primary.W-100
                                
    script.
        $('#timeSpent').on('input', function (e) {
            if ($('#timeSpent').val() === '1' && $('#timeSpent').val() !== '' && $('#minuteOption').val() === 'minutes') {
                $('#minuteOption').html('minute');
                $('#hourOption').html('hour');
            } else if ($('#timeSpent').val() !== '1' && $('#timeSpent').val() !== '' && $('#minuteOption').val() === 'minute') {
                $('#minuteOption').html('minutes');
                $('#hourOption').html('hours');
            }
        });