extends layout

block content
    nav.navbar.navbar-default.navbar-static-top(role="navigation")
        .container-fluid
            .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse-area")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .navTitle balancr
            .collapse.navbar-collapse(id="navbar-collapse-area")
                ul.nav.navbar-nav
                    li
                        a(href="workplay") work/play
                    li
                        a(href="doughnut") doughnut
                    li
                        a(href="statistics") statistics
                    li
                        a(href="settings") settings
                    li
                        a(href="add") add activity
    .page
        .pageHeading
            span.heading details
        .pageContent