extends layoutNoNav

block content
    script.
        $(document).ready(function() {
            $('#signup').click(function() {
                validate();
                });
            });
    .loginContent
        .loginTitle 
            a(href="/") balancr
        .fields
            .row
                .col-xs-12
                    form(class="validatedForm", role="form", method="POST", action="/signup")
                        .fieldset
                            .form-group
                                label(for='email').radioOption Email
                                input.form-control(type='email', name='email', id='email', placeholder='Email')
                        .fieldset
                            .form-group
                                label(for='password').radioOption Password
                                input.form-control(type='password', name='password', id='password', placeholder='Password')
                        .fieldset
                            .form-group
                                label(for='password').radioOption Confirm Password
                                input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
                        .fieldset
                            .form-group
                                input(type='submit', value="Sign Up", id="signup").btn.btn-primary.W-100
