extends layout

block content
    .page
        .pageHeading
            span.heading statistics
            span.subheading
                a(href="calendar").link This week
                    span.glyphicon.glyphicon-chevron-right
        .pageContent
            .statistics
                .stat You are 5% away from reaching your goal of 50% work and 50% play! Currently you are at 48% work and 53% play.
                .stat You have been doing a lot of exercise. 40% of your activities were exercise! Maybe you should consider some more relaxing?
                .stat Compared to the last week, you have become more balanced, good job!
                .stat You did the most of your "running" activity.