extends layout

block content
    .page
        .pageHeading
            span.heading statistics
            span.subheading
                a(href="calendar").link This week
                    span.glyphicon.glyphicon-chevron-right